<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main</li>
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <span class="icon-bg"
          ><i class="mdi mdi-cube menu-icon"></i
        ></span>
        <span class="menu-title">Thống kê</span>
      </a>
    </li>
    <li class="nav-item nav-category">Tính năng</li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
      <span class="icon-bg"
      ><i class="mdi mdi-format-list-bulleted menu-icon"></i
      ></span>
        <span class="menu-title">Danh mục</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/buttons.html"
              >Thể loại</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/ui-features/dropdowns.html"
              >Thẻ</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#article"
        aria-expanded="false"
        aria-controls="icons"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-newspaper menu-icon"></i></span>
        <span class="menu-title">Bài viết</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="article">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">Duyệt bài viết</a>
            <a class="nav-link" href="pages/icons/mdi.html">Tất cả bài viết</a>
            <a class="nav-link" href="pages/icons/mdi.html">Bài viết của tôi</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        href="#comment"
        aria-expanded="false"
        aria-controls="forms"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-comment-outline menu-icon"></i
        ></span>
        <span class="menu-title">Bình luận</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="comment">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html"
              >Duyệt bình luận</a
            >
            <a class="nav-link" href="pages/forms/basic_elements.html"
              >Báo cáo bình luận</a
            >
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item nav-category">Tài khoản
    <li class="nav-item">
      <a

        class="nav-link"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-controls="charts"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-chart-bar menu-icon"></i
        ></span>
        <span [routerLink]="['/staff']" [queryParams]="{ role: role.Editor}" class="menu-title">Biên tập viên</span>
      </a>
    </li>
    <li class="nav-item">
      <a

        class="nav-link"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-controls="charts"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-chart-bar menu-icon"></i
        ></span>
        <span [routerLink]="['/staff']" [queryParams]="{ role: role.Author}" class="menu-title">Tác giả</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-controls="charts"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-chart-bar menu-icon"></i
        ></span>
        <span [routerLink]="['/staff']" [queryParams]="{ role: role.SupportStaff}" class="menu-title">Chăm sóc người dùng</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-bs-toggle="collapse"
        aria-expanded="false"
        aria-controls="charts"
      >
        <span class="icon-bg"
          ><i class="mdi mdi-chart-bar menu-icon"></i
        ></span>
        <span [routerLink]="['/staff']" [queryParams]="{ role: role.Client}" class="menu-title">Người dùng</span>
      </a>
    </li>

    <li class="nav-item sidebar-user-actions">
      <div class="sidebar-user-menu">
        <a (click)="logOut()" href="#" class="nav-link"
          ><i class="mdi mdi-logout menu-icon"></i>
          <span class="menu-title">Log Out</span></a
        >
      </div>
    </li>
  </ul>
</nav>
