.ht-menu {
	display: flex;
	justify-content: flex-end;
	-webkit-display: flex;
	-moz-display: flex;
	-ms--display: flex;
  float: right;
}

.ht-menu>li {
	list-style: none;
	padding: 0 15px;
	position: relative;
	display: flex;
	align-items: center;
	align-self: stretch;
  margin-top: 15px;
}

.ht-menu>li::after {
	content: "";
	position: absolute;
	background: #2424;
	height: 15px;
	width: 1px;
	right: 0;
	top: 5px;
}

.ht-menu>li:last-child::after {
	content: unset;
}

.ht-menu>li:last-child {
	padding-right: 0;
}

.ht-menu>li a {
  color: white;
	font-size: 12px;
}
a:hover{
  cursor: pointer;
}
