<div class="container-fluid">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="upsertCategory">
            Thông tin thể loại
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-container">
            <div>
              <div class="form-field">
                <label class="form-label" for="category-name">Tên thể loại:</label>
                <input [(ngModel)] = "upsertCategoryReq.name" class="form-input" type="text" id="category-name" name="category-name"
                  />
              </div>
              <div class="form-field">
                <label class="form-label" for="category-describe">Mô tả:</label>
                <input [(ngModel)]="upsertCategoryReq.describe" class="form-input" id="category-describe" name="category-describe" rows="3" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="save()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
  <div style="min-height: 80vh;" class="card shadow mb-4">
    <div class="card-header py-3">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Thêm mới
      </button>
    </div>

    <div  class="card-body">
      <div class="table-responsive">
        <table
          class="table"
          id=""
          width="100%"
          cellspacing="0"
        >
          <thead class="thead-dark">
            <tr>
              <th>Mã thể loại</th>
              <th>Tên thể loại</th>
              <th>Mô tả</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of category.item">
              <td style="text-align: center; width: 30px;">{{x.id}}</td>
              <td>{{x.name}}</td>
              <td>{{x.describe}}</td>
              <td>
                <a (click)="delete(x.id)" class="btn btn-danger action-btn"><i class="fa-solid fa-trash-can"></i></a>
                <a (click)="getCategoryById(x.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning action-btn" style="margin-left: 5px;"><i class="fa-solid fa-pen"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="padding-box">
        <div class="box-sum">
          <div class="box-right">
            <button class="page" (click)="previousPage()">
              <i class="fa fa-chevron-left"></i>
            </button>
            <button style="margin-left: 3px;" *ngFor="let page of tottalPageArray"
              [ngClass]="{ 'page-active': category.pageIndex == page,'page': category.pageIndex !== page  }"
              (click)="setPage(page)">
              {{ page }}
            </button>
            <button class="page" style="margin-left: 3px;" (click)="nextPage()">
              <i class="fa fa-chevron-right"></i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
